<%= title content.title %>
<div class="btn-group">
  <%= link_to icon(:arrow_left, 'Cancelar'), content.class, class: 'btn' %>
  <%= link_to icon(:pencil, 'Editar'), [:edit, content], class: 'btn' if can? :edit, content %>
</div>
<div class="body">
  <%= render_body content %>
</div>
