<div class="row">
  <div class="span10">
    <%= title "Editar '#{content.title}'" %>
    <div class="btn-group">
      <%= link_to icon(:arrow_left, :cancel), content, class: 'btn' %>
    </div>
    <%= render 'form' %>
  </div>
</div>

