<div class="span10 offset1 admin">
  <%= title "Editar '#{content.title}'" %>
  <div class="actions">
    <%= link_to icon('arrow-left', 'Cancelar'), content %>
  </div>
  <%= render 'form' %>
</div>

