<div class="row">
  <div class="span6 offset2">
    <%= render 'show' %>
  </div>
  <div class="sidebar sidebar-right span3 offset1">
    <%= render 'posts/summary' %>
    <%= render 'contact_social_info' %>
  </div>
</div>

