<div class="comment">
  <%= comment.body %>
  <div class="admin-links">
    <%= link_to 'Editar comentario', edit_post_comment_path(post, comment) if can? :edit, Comment %>
    <%= link_to 'Borrar comentario', [post, comment], method: :delete if can? :delete, Comment %>
  </div>
</div>