<div class="comment">
  <%= comment.body %>
  <div class="admin-links">
    <%= link_to icon(:edit, 'Editar comentario'), edit_post_comment_path(post, comment), class: :btn if can? :edit, Comment %>
    <%= link_to icon(:trash, 'Borrar comentario'), [post, comment], method: :delete, class: :btn if can? :delete, Comment %>
  </div>
</div>