<div class="row">
  <div class="span12">
    <%= title t('.title') %>
    <table class="table stripped">
      <% comments.each do |comment| %>
          <tr>
            <td>
              <%= truncate(comment.body) %>
            </td>
            <td><%= time_ago_in_words comment.created_at %></td>
            <td class="btn-group">
              <%= link_to icon(:pencil, :edit), [:edit, comment],
                          class: 'btn' if can? :edit, comment %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>