<%= link_to icon(:add, 'Añadir usuario'), new_user_path, class: :btn %>
<ul class="unstyled">
  <% users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <%= link_to icon(:edit, 'Editar'), edit_user_path(user) %>
      <%= link_to icon(:trash, 'Borrar'), user, confirm: '¿Estás seguro?', method: :delete %>
   </li>
 <%end %>  
</ul>
