<%- flash.each do |key, msg| -%>
  <div class="<%= key %>">
    <p><%= msg %></p>
  </div>
<%- end -%>
<ul>
   <% users.each do |user| %>
   <li><%= link_to user.name, user %></li>
   <%end %>  
</ul>
<%= link_to 'Añadir usuario', new_user_path %>
