<div class="row admin">
  <div class="span12">
    <%= title 'Páginas' %>

    <%= link_to icon(:plus, 'Añadir página'), new_page_path if can? :create, Post %>


    <table class="table table-striped">
      <tbody>
      <% pages.each do |page| %>
          <tr>
            <td><%= link_to page.title, page %></td>
            <td>
              <%= link_to icon(:pencil, 'Editar'), [:edit, page] %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
