<div class="row admin">
  <div class="span12">
    <%= title 'Páginas' %>

    <div class="btn-group">
      <%= link_to icon(:plus, 'Añadir página'), new_page_path,
                  class: 'btn' if can? :create, Post %>
    </div>

    <table class="table table-striped">
      <tbody>
      <% pages.each do |page| %>
          <tr>
            <td><%= link_to page.title, page %></td>
            <td>
              <%= link_to icon(:pencil, 'Editar'), [:edit, page], class: :btn %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
