<h1>Nombres propuestos</h1>
<ul>
   <% proposed_names.each do |name| %>
     <li>
       <%= name.value %> - (<%= name.votes %>)
     </li>
   <%end %>  
</ul>
<%= link_to '+ Proponer un nuevo nombre', new_proposed_name_path %>
