<div class="block recent-posts-block">
  <div class="block-title">
    <%= link_to "Blog", posts_path %>
  </div>
  <div class="block-content">
    <ul>
      <%= content_tag_for :li, posts do |post| %>
        <div class="post-title"><%= link_to post.title, post %></div>
        <div class="post-date"><%= l post.created_at %></div>
      <% end %>
    </ul>
  </div>
</div>