<div class="block post-summary">
  <h2>
    <%= link_to_unless_current t('.title'), posts_path %>
  </h2>
  <ul class="post-summary-list">
    <%= content_tag_for :li, posts do |post| %>
        <div class="post-title"><%= link_to loc(post, :title), post %></div>
        <div class="post-date"><%= l post.created_at %></div>
    <% end %>
  </ul>
</div>
