@import "variables.css.scss";

div.admin {
  form {
    input[type=text], textarea {
      width: 90%;
    }
  }
}

form.comment {
  inputy[type=submit] {
    background-color: $background;
  }

  textarea {
    border: 1px solid $foreground;
    background-color: $background;
    border-radius: 0;
    box-shadow: 0;
    width: 98%;
    padding: 2px;
  }
}
