
@import 'variables';

div#session-bar {
  .languages {text-align: right;}
}

#page {
  background-color: $background;
  margin: 0px auto 10px auto;
}

.admin {
  h1 {display: block; margin-bottom: 40px;}
}

.actions {
  width: 100%; overflow: hidden; margin: 10px 0;
  
  a {display: block; float: left; border-bottom: 2px solid $foreground; margin-left: 5px;}
}

.btn-group {margin: 10px auto;}
/* Contenido */




/* Sidebar Right */

.sidebar-right {

  h2:after {
    content: "_";
    display: block;
  }

  .recent-posts-block {

    ul {
      list-style: none;
      margin: 0;

      li {
        margin-top: 6px;

        .post-title {
          font-weight: 600;
        }
      }
    }
  }
}

/* Sidebar Right en index de ProposedNames */
#content-region .proposed-names-sidebar-right {
  margin-top: 64px;

  .que-queremos-block {

    .block-title span {
      font-size: 0.889em;
      font-weight: 400;
    }

    p {
      margin: 0;
    }
  }
}

/* Blocks */
.sidebar .block {
  margin-bottom: 40px;
}

.block-title {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 18px;
}

.block-title:after {
  content: "_";
  display: block;
}

.block-content {
  font-size: 12px;
}

#header { margin-bottom: 20px; }
#appcontrols {
  margin-top: 10px;
  div {
    background-color: $foreground;
    color: $background;
    text-align: center;
  }

  div.locale { font-size: 14px;}

  div.welcome_page {
    font-size: 16px;
    text-align: left;

    a {
      padding-left: 2px;
    }
  }

  a {
    color: $background;
  }
}

div#logos {
  a {
    display: block; overflow: hidden;
    text-indent: -1000px;
    background: image_url('logos.png') no-repeat;
    width: 180px;
  }

  #lapanaderia {height: 32px;}
  #lapanaderia:hover {background-position: 0 -91px;}
  #sostrecivic {height: 56px; background-position: 0 -30px;}
  #sostrecivic:hover {background-position: 0 -121px;}
}
                                                  
#flash {
  background-color: yellow;
  display: block;
  width: 80%; margin: 5px auto;
  border-radius: 3px;
  text-align: center;
}

form#subscribe {
  margin-top: -10px;
  background: $foreground;

  input{
    // height: 100%;
    margin: 0;
    border: 2px solid $foreground;
    border-radius: 0px;
  } 

  input[type=text] {
    width: 130px;
  }
  input[type=submit] {
    width: 70px;
    font-weight: 600;
    color: $background;
    background-color: $foreground;
  }
}
