
html, body {
  background-image: image_url('fondo.png');
}

body {
  color: #484848;
  font-family: 'Signika', sans-serif;
}

[class^="icon-"] {
  background-image: image_url('glyphicons-halflings.png')
}

div#top {
  color: gray;
  margin-bottom: 1em;
}

#top {margin-top: 40px;}

#page {
  background-color: #f8f9ef;
  margin: 10px auto;
  border: 9px solid #f8f9ef;
}