
@import 'variables';

html, body {
  background-image: image_url('fondo.png');
}
h1, h2, h3, h4, h5, h6 {color: $foreground;}

body {
  color: $foreground;
  font-family: 'Signika', sans-serif;
  font-size: 100%;
  line-height: 1.286em;
}

a:hover {text-decoration: underline;}


[class^="icon-"] {
  background-image: image_url('glyphicons-halflings.png')
}

div#top {
  color: gray;
  margin-bottom: 1em;
}

#top {margin-top: 40px;}

#page {
  background-color: $background;
  margin: 0px auto;
}

.admin {
  h1 {display: block; margin-bottom: 40px;}
}

/* Contenido */

#content-region {

  h1 {
    font-size: 18px;
    margin-bottom: 22px;
    line-height: 1.286em;
  }

  h1:after {
    content: "_";
    display: block;
  }

  p {
    margin: 20px 0;
  }
}


/* Sidebar Right */

.sidebar-right {

  .recent-posts-block {

    ul {
      list-style: none;
      margin: 0;

      li {
        margin-top: 6px;

        .post-title {
          font-weight: 600;
        }
      }
    }
  }
}

/* Sidebar Right en index de ProposedNames */
#content-region .proposed-names-sidebar-right {
  margin-top: 64px;

  .que-queremos-block {

    .block-title span {
      font-size: 0.889em;
      font-weight: 400;
    }

    p {
      margin: 0;
    }
  }
}

/* Blocks */
.sidebar .block {
  margin-bottom: 40px;
}

.block-title {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 18px;
}

.block-title:after {
  content: "_";
  display: block;
}

.block-content {
  font-size: 12px;
}


/* content-top | 8 nombres más votados */

#content-top {
  position: relative;

  margin-top: 6px;
  margin-bottom: 40px;

  .proposed-names-block {
    font-size: 18px;
    font-weight: 600;

    ul.proposed-names{
      margin-top: 30px;
    }
  }
}


                                                  
