// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.posts-index .post {
  margin: 30px 0;
}

.post-info {
  font-size: 12px;
}

#content-region.blog-post {

  h1 {
    font-size: 24px;
  }

  .post-info {

    .post-date, .post-author {
      font-weight: 400;
    }
    
    .post-date:after, .post-author:after {
      content: "_";
      display: block;
    }
  }


  #comments-count {
    position: relative;
    right: 240px;
    font-size: 18px;
  }

  .comment {
    width: 65%;
    padding: 0.5em 0;
    border-top: 1px dashed;
    border-color: lighten($foreground, 30%);
    font-size: 14px;
  }

  #new_comment label, 
  #new_comment input,
  #new_comment textarea
  {
    font-size: 18px;
  }
}

.post-summary {
  h2 {font-size: 18px;}
  ul {
    margin: 0; padding: 0;
    li {
      list-style: none;
      margin-bottom: 1em;
    }
  }
  .post-date {
    text-transform: uppercase;
    margin-top: 2px;
    font-size: 14px;
  }

  .post-date, .post-author {
    font-weight: 300;
  }

  .recent-posts-block .post-date {
    line-height: 60%;
  }


}


#new_post, form[id*="edit_post_"] {
  * {
    font-size: 14px;
  }

  textarea, input.string {
    width: 90%;
  }
}