<div class="block contact-block">
  <div class="contact-link">
    &gt; Contacta
  </div>
</div>

<div class="block social-block">
  <div class="social-link">
    Facebook / Twitter
  </div>
</div>

<div class="block attribution-block">
  <div class="block-content">
    Esto es un proyecto iniciado por...
  </div>
</div>