
<div id="logos">
  Esto es un proyecto iniciado por:
  <%= link_to 'La panadería', 'http://despachodepan.com', id: 'lapanaderia' %>
  <%= link_to 'Sostre cívic', 'http://www.sostrecivic.org/', id: 'sostrecivic' %>
</div>
