<!DOCTYPE html>
<html>
<%= render 'head' %>
<body>
  <%= render 'top' %>
  <div id="page" class="container">
    <div class="row">
      <div class="span12">
        <%= link_to image_tag('cabecera.png', width: 942, height: 195), root_path %>
      </div>
    </div>
    <div id="content-region" class="row">
      <%= render 'content-region' %>
    </div>  
  </div>
</body>
</html>
